/* Error: expected ";".
 *     ,
 * 150 | $card-border-width:               0px!default
 *     |                                              ^
 *     '
 *   ../variable.scss 150:46  @import
 *   dashboard4.scss 8:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 150 \2502  $card-border-width:               0px!default\d\a     \2502                                               ^\a     \2575 \a   ../variable.scss 150:46  @import\a   dashboard4.scss 8:9      root stylesheet';
}
